# Created by .ignore support plugin (hsz.mobi)
/.idea/
*.iws
*.iml
/.project
/.classpath

node_modules/
/dist/
/out/
out-tsc
/npm-debug.log

/src/**/*.ngfactory.*
/src/**/*.ngsummary.*

/index.d.ts
/index.js
/index.js.map
/index.metadata.json
/index.ngsummary.json
/moment-timezone.module.d.ts
/moment-timezone.module.js
/moment-timezone.module.js.map
/moment-timezone.module.metadata.json
/moment-timezone.module.ngfactory.d.ts
/moment-timezone.module.ngfactory.js
/moment-timezone.module.ngfactory.js.map
/moment-timezone.module.ngsummary.json
/tz.pipe.d.ts
/tz.pipe.js
/tz.pipe.js.map
/tz.pipe.metadata.json
/tz.pipe.ngfactory.js.map
/tz.pipe.ngsummary.json
