# standard IDEA & Eclipse project genarated files
/.idea/
*.iws
*.iml
/.project
/.classpath

/node_modules/
/src/node_modules/
/dist/
/out/
/out-tsc/
/npm-debug.log

/index.d.ts
/index.js
/index.js.map
/index.metadata.json
/moment-timezone.module.d.ts
/moment-timezone.module.js
/moment-timezone.module.js.map
/moment-timezone.module.metadata.json
/tz.pipe.d.ts
/tz.pipe.js
/tz.pipe.js.map
/tz.pipe.metadata.json
